<div style = "margin: auto; text-align: center;">
	<h2 style = "font-family: 'Futura'">Please Enter The Account Name Of The User You Are Looking To Analyze:</h2>
	<%= bootstrap_form_for(@account) do |f|%>
	  <ul>
	  	<% @account.errors.full_messages.each do |error| %>
	    <li><%= error %></li>
	  	<% end %>
	  </ul>
	  <p style = "font-family: 'Futura'">
	    <h3><strong><%= f.label "Username" %></strong></h3>
		  <div style = "width: 20%; margin:auto" class="input-group">
	  		<span class="input-group-addon" id="basic-addon1">@</span>
	  	    <input id="account_username" name="account[username]" type="text" class="form-control" aria-describedby="basic-addon1">
		  </div>
	  </p>	
	  <p>
	    <%= f.submit 'Submit' %> &nbsp;
	  </p>
  	<%end%>
</div>

  	<br>
  	<h2 style = "font-family: 'Futura'; text-align:center">#livemusic</h2>
  	<br>
	<div style = "text-align: center; width: 85%; margin:auto;" id="instafeed"></div>
