<div style = "margin: auto; text-align: center;">
	<h2 style = "font-family: 'Futura'">Enter The Account Name Of The User You Are Looking To Analyze:</h2>
	<%= bootstrap_form_for(@account) do |f|%>
	  <ul>
	  	<% @account.errors.full_messages.each do |error| %>
	    <li><%= error %></li>
	  	<% end %>
	  </ul>
	  <p style = "font-family: 'Futura'">
	    <h3><strong><%= f.label "Username" %></strong></h3>
		  <div style = "width: 20%; margin:auto" class="input-group">
	  		<span class="input-group-addon" id="basic-addon1">@</span>
	  	    <input id="account_username" name="account[username]" type="text" class="form-control" aria-describedby="basic-addon1">
		  </div>
	  </p>	
	  <p>
	    <%= f.submit 'Submit' %> &nbsp;
	  </p>
  	<%end%>
</div>

  	<br>
  	<h2 style = "font-family: 'Futura'; text-align:center">#livemusic</h2>
  	<br>
	<div class =  "wrapper">
		<div class = "insta-wrap">
			<div style = "text-align: center; width: 60%; margin:auto;" id="instafeed"></div>
		</div>	
	</div>	
	<br>

<script type="text/javascript">
    var feed = new Instafeed({
        get: 'tagged',
        limit: 28,
        tagName: 'livemusic',
        clientId: 'e34f7deb326b43acb280d674572da562'
    });
    feed.run();
</script>
