<div class = "landing-div">
	<h1>Welcome!</h1>
	<br>
	<h2>Please <%=link_to "Log In", search_landing_path%> or <%=link_to "Sign Up", search_landing_path%> To Continue</h2>

	<h3>Built By Matias Beeck</h3>
</div>