<div class = "tables-container">
	<h1 style = "text-align:center; font-family: 'Futura';"> New Table </h1>
		<br>
		<%= render 'form'%>
		<br>
  	<%#= link_to "Back", posts_path, id: "back-button", class: "waves-effect waves-light btn"%>
</div>
